body{
  background-image: url("../Assets/Images/garden.jpg");
  background-size: 100%;
}
main {
  position: relative;
  z-index: 1;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
#title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../Assets/Images/woodenSign.png");
  text-align: center;
  background-size: 135px;
  height: 75px;
  width: 135px;
}

#game-name {
  font-family: 'Cabin Sketch', cursive;
  font-size: 42px;
}

#score-reset {
  height: 65px;
  width: 150px;
}
#score {
  font-family: 'Cabin Sketch', cursive;
  font-size: 28px;
  text-align: center;
  border: solid rgb(218,177,108);
  color: white;
  background-image: url("../Assets/Images/chalkboard.jpg");
  background-size: 100%;
}
#reset {
  height: 30px;
  width: 100%;
  background-color: aquamarine;
  font-family: 'Cabin Sketch', cursive;
}
#reset:hover {
  background-color: rgb(194, 251, 232);
  cursor: pointer;
}

#board{
  display: grid;
  grid-template-columns: repeat(16, 40px [col-start]);
  justify-content: center;
  margin:20px auto;
  width: 640px;
  border: 5px solid rgb(63,28,11);
}
.sq {
  grid-template-columns: 16fr 16fr;
  background-color: rgb(98,74,45, .8);
  height: 38px;
  width: 38px;
  border: solid rgba(0, 0, 0, 0.5);
}
.piece{
  z-index: 2;
  background-image: url("../Assets/Images/apple.png");
  background-size: 100%;
  border: solid black
} 
.snake{
  background-color: rgb(160,196,50);
}
.snakehead-up {
  background-image: url('../Assets/Images/snakeHead.png');
  background-size: 100%;
  transform: rotate(180deg);
}
.snakehead-down {
  background-image: url('../Assets/Images/snakeHead.png');
  background-size: 100%;
}
.snakehead-left {
  background-image: url('../Assets/Images/snakeHead.png');
  background-size: 100%;
  transform: rotate(90deg);
}
.snakehead-right {
  background-image: url('../Assets/Images/snakeHead.png');
  background-size: 100%;
  transform: rotate(270deg);
}
.snakehead-null {
  background-image: url('../Assets/Images/snakeHead.png');
  background-size: 100%;
  transform: rotate(270deg);
}

#win-loss-message{
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 42px;
  margin-bottom: 0;
}
#play-again{
  font-family: 'Cabin Sketch', cursive;
  font-size: 18px;
  width:fit-content;
  margin: 0 auto;
}
#play-again:hover {
  cursor: pointer;
}
.visible {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../Assets/Images/chalkboard.jpg");
  background-size: 100%;
  z-index: 25;
  margin: -600px auto 0;
  text-align: center;
  width: 500px;
  height: 150px;
  visibility: visible;
  border: solid rgb(218,177,108);
}
.hidden {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../Assets/Images/chalkboard.jpg");
  background-size: 100%;
  z-index: 25;
  margin: -600px auto 0;
  text-align: center;
  width: 500px;
  height: 150px;
  visibility: hidden;
  border: solid rgb(218,177,108);
}

@media screen and (max-width: 640px) {
  body{
    background-size: 200%;
  }
  #board{
    margin:20px auto;
    width: 480px;
    justify-items: center;
    grid-template-columns: repeat(16, 30px [col-start]);
  }
  .sq {
    height: 28px;
    width: 28px;
    display: inline;
  }
}

@media screen and (max-width: 480px) {
  body{
    background-size: 200%;
  }
  #board{
    margin:20px auto;
    width: 304px;
    justify-items: center;
    grid-template-columns: repeat(16, 19px [col-start]);
  }
  .sq {
    height: 17px;
    width: 17px;
    display: inline;
  }
}