body{
  background-image: url("/Assets/Images/garden.jpg");
  background-size: 100%;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#title{
  background-color: green;
  height: 75px;
  width: 150px;
}
#score-reset {
  height: 75px;
  width: 150px;
}
#score {
  font-size: 33px;
  text-align: center;
  border: solid white;
  color: white;
  background-color: black;
}
#reset {
  height: 30px;
  width: 100%;
}

#board{
  display: grid;
  grid-template-columns: repeat(16, 40px [col-start]);
  justify-content: center;
  margin:20px
}
.sq {
  grid-template-columns: 16fr 16fr;
  background-color: purple;
  height: 40px;
  width: 40px;
  border: solid black;
}
.piece{
  background-image: url("/Assets/Images/apple.png");
  background-size: 100%;
} 
.snake{
  background-color: green;
}